body{
font-family:"Roboto",sans-serif;
color:#434455;
background-color: #fff;
}

a{
    text-decoration: none;
}

ul,li{
    list-style-type: none;
}

button{
    cursor: pointer;
}
/*#region header */
.logo 
{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
    }

.header-logo .logo-part
 {
    color: #2e2f42;
}

.item-nav-link
 {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42
}

.item-nav-link:hover,
.item-nav-link:focus,
.contacts-link:hover,
.contacts-link:focus
{
    color: #404bbf;
}

.contacts
 {
    font-style: normal;
}

.contacts-link
 {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/*#endregion header  */
/* #region s1*/
.hero{
    background-color: #2e2f42;;

}
.hero-title {
    font-weight: 700;
    font-size: 56px;
   line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;}

.btn-hero
 {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;;
}

.btn-hero:hover,
.btn-hero:focus
{
 background-color: #404bbf;;
}
/* #endregion s1 */

/* #region s2 */

.title-item-descr
{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.descr-content
{
           font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
     
}
/* #endregion s2 */
/* #region s3 */

.team
{
   background-color:  #f4f4fd;
}
.portfolio-title,
.team-title 
{
        text-transform: capitalize;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.name-team 
{
           font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.prof-team
 {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
 }
.item-team
{background-color: #FFFFFF;}
/* #endregion s3 */

/* #region s4 */






.portfolio-name 
{
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-type
{
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
/* #endregion s4*/

.page-footer
{
    background-color: #2e2f42;;
}
.footer-logo .logo-part
{
  color:  #f4f4fd;
}

.footer-info
{
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}